html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Font style */

body {
  font-size: 2.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #090909;
  color: #ffffff;
  animation: fadebackground 6s infinite;
}

p {
  font-family: "Muli", sans-serif;
  line-height: 1.38105;
  letter-spacing: 0.011em;
}

h1 {
  font-family: "Muli", sans-serif;
  font-size: 9.6vh;
  font-weight: bold;
  line-height: 120%;
}

h2 {
  font-size: 9.6rem;
  font-family: "Cormorant", serif;
}

h3 {
  font-family: "Muli", sans-serif;
  font-size: 6.4rem;
  font-weight: bold;
}

h4 {
  font-size: 4.8rem;
  font-family: "Cormorant", serif;
}

h5 {
  font-family: "Muli", sans-serif;
  font-size: 3.6rem;
  font-weight: SemiBold;
}

h6 {
  font-size: 1.8rem;
  font-family: "Muli", sans-serif;
}

/* End Font Style */

/* Menu */
.top-bar {
  position: fixed;
  top: 0;
  height: 95px;
  width: 100%;
  left: 0;
  align-items: center;
  mix-blend-mode: difference;
  right: 0;
  padding: 0 150px;
  z-index: 999;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.topnav-right {
  float: right;
}

nav a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 36px 80px;
  font-family: "Muli", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.011em;
  font-weight: SemiBold;
}

nav a:hover{
  color: #fe3ed4;
}

.bottom-bar a:hover{
  color: #47D3FF;
}

.bottom-bar{
  float: none;
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
      justify-content: center;
  mix-blend-mode: difference;
}

.bottom-bar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 42px;
  font-family: "Muli", sans-serif;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.011em;
  font-weight: SemiBold;
  cursor: pointer;
}

.right-menu {
  grid-row: 2;
  align-self: center;
}

.top-menu-right {
  margin-left: auto;
}

.rot-135:hover {
  filter: hue-rotate(135deg);
}

body {
    background-color: #090909;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 40px 0;
}

.container.gallery-container {
    background-color: #090909;
    color: white;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #090909;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #090909;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}