/* 
  Reset CSS
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html { 
  font-size: 62.5%; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}




/* Font style */

body {
  font-size: 1.6rem;
  line-height: 1.4;
  letter-spacing: 0.02em;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0B0A13;
  color: #ffffff;
}

p {
  font-family: 'Muli', sans-serif;
  line-height: 1.8;
  letter-spacing: .04em;

}

h1 {
  font-family: 'Muli', sans-serif;
  font-size: 9.6rem;
  font-weight: bold;
  line-height: 120%;
}

h2 {
  font-size: 9.6rem;
  font-family: 'Cormorant', serif;
}

h3 {
  font-family: 'Muli', sans-serif;
  font-size: 6.4rem;
  font-weight: bold;
}

h4 {
  font-size: 4.8rem;
  font-family: 'Cormorant', serif;;
}

h5 {
  font-family: 'Muli', sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
}

h6 {
  font-size: 2.4rem;
  font-family: 'Cormorant', serif;
}

/* End Font Style */


/* Menu */
.top-bar {
  position: fixed;
    top: 0;
    display: flex;
    height: 95px;
    width: 100%;
    left: 0;
    align-items: center;
    mix-blend-mode: difference;
    right: 0;
    padding: 0 50px;
    z-index: 999;

}



.side-bar-right{
  z-index: 2;
  right: 0;
  width: 90px;
  height: 1024px;
  align-items: center;
  position: fixed;
}

nav a{
  color: white;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  font-size: 1.8rem;
  
}

.top-menu a {
  padding: 10px 0;
  margin-left: 50px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.right-menu a {
  padding: 20px 0;
  margin-left: 50px;
}

.side-bar-right {
  margin: 90px auto;
  
  display: grid;
  grid-template-rows: 60px auto 390px;
  mix-blend-mode: difference;

}

.right-menu{
  grid-row: 2;
  align-self: center;

}

.top-menu-right {
  margin-left: auto;
}



.rot-135:hover {
  filter: hue-rotate(135deg);
}





  /*GREEN*/
  .b-green, .b-green:before {
    background: #fffff;
    background: -moz-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(26,188,156,1)));
    background: -webkit-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: -o-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    background: linear-gradient(45deg, rgba(73,155,234,1) 0%, rgba(26,188,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

   /*BLUE*/
   .b-blue, .b-blue:before {
    background: rgba(5,118,255,1);
    background: -moz-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5,118,255,1)), color-stop(100%, rgba(36,248,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }




/* End Menu */





/* Header */
.hero-title{
  font-family: 'Muli', sans-serif;
  font-size: 14.4rem;

  font-weight: 500;
  letter-spacing: 0em;
}

.subtitle {
text-align: center;
letter-spacing: 0.1rem;
}

.block--hero{
  width: 100%;
  height: 100vh;
}

.block-hero-wrapper {
  width: 100%;
  height: 100%;
}

.block-hero-content {
  background-color: #006D98;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 12rem 14rem 8rem 14rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-image{
  z-index: 2;
  align-items: left;
  justify-content: left;
}

/* End Header */


/* Review */

.block-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 12rem 18rem 8rem 14rem;
  align-items: center;
  justify-content: left;
  margin: 0 auto;
}

.block-review {
  display: grid;
  grid-template-columns: 13rem auto auto auto auto 15rem;
  grid-column-gap: 2.0rem;

  margin: 0 0 12rem 0;
}

.column1 {
  grid-column-start: 2;
}

.column2 {
  grid-column-start: 3;
}

.column3 {
  grid-column-start: 4;
}

.column4 {
  grid-column-start: 5;
}

.column-title{
  font-weight: 800;
  font-size: 2.2rem:
}

.column-content{
  font-weight: 200;
  font-size: 1.6rem;
  opacity: 0.6;
}
/* End Review */


/* Style1 purple background*/
.block-style1 {
    width: auto;
    height: 100%;
    padding: 10rem 90rem 10rem 14rem;


    background-color: #006D98;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
  }
  

.content-title{
  line-height: 12rem;
  margin: 4rem 0 6rem;
}

.block--intro{
  display: flex;
  flex-direction: row;
}

/* End Style1 */

/* Style2 no color background */
.block-style2{
    width: auto;
    padding: 10rem 14rem 10rem 14rem;
    max-width: 1000px;
  }
  
.block-image{
  width: 100%;
  width: 1200px;
  padding: 5rem 0 5rem 25rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;


}

/* End Style2 */
.work-columns{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5rem 16rem 8rem;
}

.work-column{
  flex: 1;

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

.columns{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}

.column{
  width: 100%;
  flex: 1;

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

.block-image{
  width: 100%;
  width: 1200px;
  align-items: center;
  justify-content: center;
  margin: 15rem auto 0 0;
}

/* Footer */

.hero-foot {
  max-width: 938px;
  padding: 0 15px;
  width: 100%;
}


.block-hero-footer {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #1D1C30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mail-link {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  font-size: 3.0rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #FE3ED4;
  margin: 3.5rem 0;
}

.link {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  font-size: 3.0rem;
  text-align: center;
  letter-spacing: 0.05rem;
  display: inline-block;
  text-decoration: none;
  color: #FE3ED4;
}
.end{
  font-size: 1.5rem;
}

.credit {
  color: #1D1C30;
  letter-spacing: 0.05rem;
  display: inline-block;
  text-decoration: none;
  
}

.footer-links {
  margin: 3rem 0 0 0;
}

.footer-links a{
  margin: 0 40px;
}



.final-container{
  position: relative;
  text-align: center;
  top: 25%; 
}
/* End footer */

@media (max-width: 767px){
  .side-bar-right {
    display: none;
    }
  
  .top-menu{
    align-items: left;
    justify-content: left;
    margin: 0;
  }

  .block-content {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 6rem 0 0 0;
    padding: 0 4.5rem 1rem;  
  }

.block-hero-content{
  display: flex;
  flex-direction: column;
  padding: 4rem 4.5rem 0 4.5rem;
}

.hero-title{
  font-size: 4.2rem;
  letter-spacing: .01em;
  padding: 4rem 0 0 0;
  align-items: center;
  justify-content: center;
}

.hero-image{
  margin: 4rem;
}

.block-image{
  width: 100%;
  width: 1200px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

  h4 {
    font-size: 3.6rem;
    font-family: 'Cormorant', serif;;
  }

  .block-review {
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 4.5rem;
  
  }

  .block-style1 {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 4rem 4.5rem 10rem;
  }

  .block-style2 {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 4rem 4.5rem 10rem;
  }

  .content-title {
    font-size: 6rem;
    line-height: 8rem;
    margin: 2rem 0 4rem;
  }

  .block-image, .block-meta {
    width: 100%;
    padding: 6rem 0 3rem 0;
  }
  
  

  .lead {
    font-size: 2.8rem;
    line-height: 1.5;

  }
}



