/* 
  Reset CSS
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html { 
  font-size: 62.5%; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


h1 {
    font-family: 'Muli', sans-serif;
    font-size: 24rem;
    font-weight: bold;
    color: #fff;

  h5 {
    font-family: 'Muli', sans-serif;
    font-size: 2rem;
    font-weight: regular;
    color: #fff;
  }

  body {
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: 0.02em;
  
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f2f2f2;
    color: #0B0A13;
  }
  
  p {
    font-family: 'Muli', sans-serif;
    line-height: 1.6em;
    letter-spacing: .04em;
    font-size: 2rem;
  }
  
  h1 {
    font-family: 'Muli', sans-serif;
    font-size: 4rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 9.6rem;
    font-family: 'Cormorant', serif;
  }
  
  h3 {
    font-family: 'Muli', sans-serif;
    font-size: 6.4rem;
    font-weight: bold;
  }
  
  h4 {
    font-size: 4.8rem;
    font-family: 'Cormorant', serif;
  }
  
  h5 {
    font-family: 'Muli', sans-serif;
    font-size: 3.6rem;
    font-weight: 500;
  }
  
  h6 {
    font-size: 2.4rem;
    font-family: 'Cormorant', serif;
  }  

/* Menu */
.top-bar {
    position: fixed;
      top: 0;
      display: flex;
      height: 95px;
      width: 100%;
      left: 0;
      align-items: center;
      mix-blend-mode: difference;
      right: 0;
      padding: 0 50px;
      z-index: 999;
  
  }
  
  
  
  .side-bar-right{
    z-index: 2;
    right: 0;
    width: 90px;
    height: 1024px;
    align-items: center;
    position: fixed;
  }
  
  nav a{
    color: white;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    font-size: 1.8rem;
    
  }
  
  .top-menu a {
    padding: 10px 0;
    margin-left: 50px;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  
  .right-menu a {
    padding: 20px 0;
    margin-left: 50px;
  }
  
  .side-bar-right {
    margin: 90px auto;
    
    display: grid;
    grid-template-rows: 60px auto 390px;
    mix-blend-mode: difference;
  
  }
  
  .right-menu{
    grid-row: 2;
    align-self: center;
  
  }
  
  .top-menu-right {
    margin-left: auto;
  }
   
 
/* Header */
.hero-title{
    font-family: 'Muli', sans-serif;
    font-size: 14.4rem;
  
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  
  .subtitle {
  text-align: left;
  letter-spacing: 0.1rem;
  }
  
  .block--hero{
    width: 100%;
    height: 100vh;
  }
  
  .block-hero-wrapper {
    width: 100%;
    height: 100%;
  }
  
  .block-hero-content {
    background-color: #000;
    width: 100%;
    height: 100%;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .hero-image{
  
      height: 100%;
      width: 100%;
      background-size: cover;
      background-color: #1d1c30;
      background-position: center;
      background-repeat: no-repeat;
  
  }
  
  /* End Header */ 

body{
    background-image: url('../src/img/error/stars.png');
}


  