html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Font style */

body {
  font-size: 2.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #090909;
  color: #ffffff;
  animation: fadebackground 6s infinite;
}

p {
  font-family: "Muli", sans-serif;
  line-height: 1.38105;
  letter-spacing: 0.011em;
}

h1 {
  font-family: "Muli", sans-serif;
  font-size: 9.6vh;
  font-weight: bold;
  line-height: 120%;
}

h2 {
  font-size: 9.6rem;
  font-family: "Cormorant", serif;
}

h3 {
  font-family: "Muli", sans-serif;
  font-size: 6.4rem;
  font-weight: bold;
}

h4 {
  font-size: 4.8rem;
  font-family: "Cormorant", serif;
}

h5 {
  font-family: "Muli", sans-serif;
  font-size: 3.6rem;
  font-weight: SemiBold;
}

h6 {
  font-size: 1.8rem;
  font-family: "Muli", sans-serif;
}

/* End Font Style */

/* Menu */
.top-bar {
  position: fixed;
  top: 0;
  height: 95px;
  width: 100%;
  left: 0;
  align-items: center;
  mix-blend-mode: difference;
  right: 0;
  padding: 0 150px;
  z-index: 999;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.topnav-right {
  float: right;
}

nav a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 36px 80px;
  font-family: "Muli", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.011em;
  font-weight: SemiBold;
}

nav a:hover{
  color: #fe3ed4;
}

.bottom-bar a:hover{
  color: #47D3FF;
}

.bottom-bar{
  float: none;
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
      justify-content: center;
  mix-blend-mode: difference;
}

.bottom-bar a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 42px;
  font-family: "Muli", sans-serif;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.011em;
  font-weight: SemiBold;
  cursor: pointer;
}

.right-menu {
  grid-row: 2;
  align-self: center;
}

.top-menu-right {
  margin-left: auto;
}

.rot-135:hover {
  filter: hue-rotate(135deg);
}

/*GREEN*/
.b-green,
.b-green:before {
  background: #ffffff;
  background: -moz-linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(73, 155, 234, 1)),
    color-stop(100%, rgba(26, 188, 156, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(73, 155, 234, 1) 0%,
    rgba(26, 188, 156, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*BLUE*/
.b-blue,
.b-blue:before {
  background: rgba(5, 118, 255, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(5, 118, 255, 1) 0%,
    rgba(36, 248, 255, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(5, 118, 255, 1)),
    color-stop(100%, rgba(36, 248, 255, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(5, 118, 255, 1) 0%,
    rgba(36, 248, 255, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(5, 118, 255, 1) 0%,
    rgba(36, 248, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(5, 118, 255, 1) 0%,
    rgba(36, 248, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(5, 118, 255, 1) 0%,
    rgba(36, 248, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1 );
}

/* End Menu */


/* Header */
.hero-lead {
  width: 100%;
}

.lead {
  line-height: 1.5;
}

.block--hero {
  width: 100%;
  height: 100vh;
}

.hero-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}

.bg-gradient {
  height: 100vh;
  z-index: -4;
  
}

.text-left {
  text-align: left;
  font-family: "Muli", sans-serif;
  font-size: 10rem;
  font-weight: 300;
  padding-top: 20%;
  padding-left: 10%;
  color: #fe3ed4;
}

.img-center{
padding-top: 10%;
height: auto;
padding-left: 20%;
}

.text-right {
  text-align: left;
  font-family: "Muli", sans-serif;
  color: #cc65a3;
  font-size: 3.2rem;
  line-height: 4.2rem;
  padding-top: 20%;
  padding-left: 8%;
  padding-right: 20%;
}

.block-hero-wrapper {
  width: 100%;
  height: 100%;
}

.block-hero-content {
  width: 100%;
  height: 100%;
}


/* End Header */

/* About */

.block-wrapper {
  position: relative;
  max-width: 1800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto auto;
}

.block-content {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  padding: 80rem;
  align-items: center;
  justify-content: center;
}

.block-meta {
  width: auto;
  padding: auto;
  max-width: 800px;
}

/* End About */

/* Work */
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.ImgBox {
  position:relative;
  width: 500px;
  height: 400px;
}

.ImgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentBox{
  position: relative;
  padding: 20px 60px 20px 100px;
  right: 25px;
  width: 500px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c1c1c;
}

.contentBox::before{
  content: '';
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: 0;
  right: 0;
  z-index: -1;
}

.button1 {
  display: inline-block;
  text-decoration: none;
  margin-top: 25px;
  margin-left: 25px;
  color: #fff;
  padding: 10px;
  border: 1px solid #fff;
  font-family: "Muli", sans-serif;
}



*{margin:0; padding:0; box-sizing: border-box;}
*::before, *::after {margin:0; box-sizing: border-box;}

.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}


.meta-title {
  padding: 8rem 20rem 14rem;
}



.block-float-title,
.block-float-subtitle {
  margin: 2rem;
}

/* End Work */

/* Footer */

.block-hero-footer {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #1d1c30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mail-link {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #fe3ed4;
  margin: 3.5rem 0;
}

.link {
  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.05rem;
  display: inline-block;
  text-decoration: none;
  color: #fe3ed4;
}

.end {
  font-size: 1.5rem;
}

.footer-links {
  margin: 2rem 0 0 0;
}

.footer-links a {
  margin: 0 40px;
}

.final-container {
  position: relative;
  text-align: center;
  width: 100%;
  top: 25%;
  margin-top: 40px;
}

/* End footer */
@media screen and (max-width: 800px) {

  .a {
    font-size: 1.8vh;
    }

  .bottom-bar{
    display:flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
  }


  .hero-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: #090909; 
    display: flex;
    flex-direction: column;
  } 


  .top-bar a, .topnav-right {
    float: none;
    display: none;
  }

  .img-center{
    display: flex;
    height: 50%;
    padding-left: 26%;
    padding-top: 6%;
    padding-bottom: 0%;
    align-content: center;
  }

  .text-left {
    display:none;
  }
  
  .text-right {
    text-align: left;
  font-family: "Muli", sans-serif;
  color: #1d1c30;
  font-size: 1.8vh;
  line-height: 3.2rem;
  font-weight: 300;
  padding-top: 0px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 20%;
  }

  .card{
    flex-direction: column;
    max-width: 350px;
  }

  .ImgBox{
    width: 100%;
    height: 250px;
    left: 0;
  }

  .contentBox {
    width: 100%;
    height: auto;
    right: 0;
    padding: 30px;
    text-align: center;
  }

  .contentBox::before {
    top:0;
    bottom: 0;
  }

@media (max-width: 1024px) {
  .top-menu,
  .side-bar-right {
    display: none;
  }

  .bottom-bar a{
    float: center;
    display: block;
    color: white;
    padding: 6px 4px;
    font-family: "Muli", sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.011em;
  }

  .hero-lead {
    padding: 20rem 4rem;
    width: 100%;
  }

  .block-wrapper {
    position: relative;
  }

  .Title {
    margin: 2rem 0;
    font-size: 6vh;
  }

  .block-image-left {
    margin: 2rem 0;
    width: 60%;
  }

  p {
    font-family: "Muli", sans-serif;
    line-height: 1.38105;
    letter-spacing: 0.011em;
    font-size: 1.8vh;
  }

  .block--work {
    display: flex;
    flex-direction: column;
    justify-content: 0 0 4rem 0;
  }

  .block-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 4vh 2rem 4rem;
    align-items: center;
    justify-content: center;
  }

  .meta-title {
    padding: 0 4rem 4rem;
  }

  .block-meta {
    width: auto;
    padding: 0 2rem;
  }

  .block-image--left {
    margin: 0 2rem ;
    justify-content: center;
  }

  .block-image--right {
    justify-content: center;
    margin: 0 2rem 8rem;
  }

  .block-float-title,
  .block-float-subtitle {
    margin: 2rem;
  }

  .hero-foot {
    font-size: 4vh;
  }
}
}